*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* div{
    border: 2px black solid;
} */

#calculatorContainer{
    border: 2px black solid;
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

#displayScreenContainer{
    height: 25%;
    padding: 1rem;
}

#displayScreen{
    border: 2px black solid;
    height: 100%;
}

#inputBtnsContainer{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#inputBtnsUpperContainer{
    height: 20%;
    display: flex;
}

#calculatorName{
    flex-grow: 1;
    align-self: center;
    padding: 1rem;
}

#inputBtnsLowerContainer{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.inputBtn{
    width:25%
}