*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div{
    border: 2px black solid;
}

#calculatorContainer{
    border: 2px black solid;
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

#displayScreen{
    height: 25%;
}

#inputBtnsContainer{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#inputBtnsUpperContainer{
    height: 20%;
    display: flex;
}

#inputBtnsLowerContainer{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

#calculatorName{
    flex-grow: 1;
}
.inputBtn{
    width:25%
}